body {
    background-color: #181818; /* Dark background color */
    color: #e0e0e0; /* Light text color for contrast */
    font-family: 'Raleway', sans-serif; /* Modern sans-serif font */
    margin: 0;
    line-height: 1.6;
}

header {
    background-color: #282828; /* Slightly lighter dark color for header */
    color: #fff;
    text-align: center;
    padding: 2em 0;
    background-image: url("index-assets/chalkboard-1.jpg"); /* Consider replacing with a dark-themed image */
    background-size: cover;
    background-position: center;
}

header h1, 
header p {
    font-family: 'Raleway', sans-serif;
    margin: 1px;
}

header h1 {
    font-weight: 600;
}

header p {
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

section {
    padding: 20px;
    margin: 20px;
    background: rgba(36, 36, 36, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Raleway;
}

.blog-post {
    border-bottom: 5px solid #a6a7f8;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blog-post img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    align-self: flex-start; /* Align the image to the right */
    margin-top: 10px;     /* Add some space above the image */
}

.blog-post p {
    margin-top: 10px;     /* Add some space above the paragraph */
    margin: 0;
}

.blog-post h3 {
    color: #6366f1;
}

a {
    color: #6366f1;
}

a:hover {
    color: #4f46e5;
}

.contact-icons img {
    width: 64px;  /* Set your desired width */
    height: 64px; /* Set your desired height */
    margin-bottom: 33px;
}

.contact-icons {
    display: flex;          /* Enables flexbox layout */
    justify-content: space-between; /* Evenly distribute icons with space between them */
    align-items: center;     /* Vertically align icons to the center */
}

.contact-icons a { 
    display: inline-block; 
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
    display: block;
    border: 3px solid #a6a7f8;
}